<% if @cocktail.photo? %>
  <div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
  </div>
<% else %>
  <div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://picsum.photos/1200/600');">
  </div>
<% end %>
<div class="container">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ol class="list-unstyled">
        <div class="text-center">
          <p>
           <h3>Ingredients :</h3> <li><% @cocktail.doses.each do |dose| %></li>
           <li><%= dose.ingredient.name %></li>
           <li><%= dose.description %></li>
           <%= "-" %>
           <% end %>
          </p>
        </div>
      </ol>
    </div>
  </div>
</div>
<div class="text-center show-btn"><%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
<%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %></div>

