<div class="container padded">
  <h1 class="text-center">New dose</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :description, class: "form-control" %>
          <%= f.association :ingredient, class: "form-control" %>
        </div>
        <%= f.submit "Add a dose", class: "btn btn-primary" %>
        <%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
